/*
 * NamSor API v2
 * NamSor API v2 : enpoints to process personal names (gender, cultural origin or ethnicity) in all alphabets or languages. Use GET methods for small tests, but prefer POST methods for higher throughput (batch processing of up to 1000 names at a time). Need something you can't find here? We have many more features coming soon. Let us know, we'll do our best to add it! 
 *
 * OpenAPI spec version: 2.0.2-beta
 * Contact: contact@namsor.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.namsor.sdk2.api;

import com.namsor.sdk2.invoke.ApiCallback;
import com.namsor.sdk2.invoke.ApiClient;
import com.namsor.sdk2.invoke.ApiException;
import com.namsor.sdk2.invoke.ApiResponse;
import com.namsor.sdk2.invoke.Configuration;
import com.namsor.sdk2.invoke.Pair;
import com.namsor.sdk2.invoke.ProgressRequestBody;
import com.namsor.sdk2.invoke.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.namsor.sdk2.model.BatchFirstLastNamePhoneCodedOut;
import com.namsor.sdk2.model.BatchFirstLastNamePhoneNumberIn;
import com.namsor.sdk2.model.FirstLastNamePhoneCodedOut;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SocialApi {
    private ApiClient apiClient;

    public SocialApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SocialApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for phonePrefix
     * @param firstName  (required)
     * @param lastName  (required)
     * @param phoneNumber  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call phonePrefixCall(String firstName, String lastName, String phoneNumber, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = new Object();

        // create path and map variables
        String localVarPath = "/api2/json/phoneCode/{firstName}/{lastName}/{phoneNumber}"
            .replaceAll("\\{" + "firstName" + "\\}", apiClient.escapeString(firstName.toString()))
            .replaceAll("\\{" + "lastName" + "\\}", apiClient.escapeString(lastName.toString()))
            .replaceAll("\\{" + "phoneNumber" + "\\}", apiClient.escapeString(phoneNumber.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call phonePrefixValidateBeforeCall(String firstName, String lastName, String phoneNumber, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'firstName' is set
        if (firstName == null) {
            throw new ApiException("Missing the required parameter 'firstName' when calling phonePrefix(Async)");
        }
        
        // verify the required parameter 'lastName' is set
        if (lastName == null) {
            throw new ApiException("Missing the required parameter 'lastName' when calling phonePrefix(Async)");
        }
        
        // verify the required parameter 'phoneNumber' is set
        if (phoneNumber == null) {
            throw new ApiException("Missing the required parameter 'phoneNumber' when calling phonePrefix(Async)");
        }
        

        com.squareup.okhttp.Call call = phonePrefixCall(firstName, lastName, phoneNumber, progressListener, progressRequestListener);
        return call;

    }

    /**
     * [USES 11 UNITS] Infer the likely country and phone prefix, given a personal name and formatted / unformatted phone number.
     * 
     * @param firstName  (required)
     * @param lastName  (required)
     * @param phoneNumber  (required)
     * @return FirstLastNamePhoneCodedOut
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public FirstLastNamePhoneCodedOut phonePrefix(String firstName, String lastName, String phoneNumber) throws ApiException {
        ApiResponse<FirstLastNamePhoneCodedOut> resp = phonePrefixWithHttpInfo(firstName, lastName, phoneNumber);
        return resp.getData();
    }

    /**
     * [USES 11 UNITS] Infer the likely country and phone prefix, given a personal name and formatted / unformatted phone number.
     * 
     * @param firstName  (required)
     * @param lastName  (required)
     * @param phoneNumber  (required)
     * @return ApiResponse&lt;FirstLastNamePhoneCodedOut&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<FirstLastNamePhoneCodedOut> phonePrefixWithHttpInfo(String firstName, String lastName, String phoneNumber) throws ApiException {
        com.squareup.okhttp.Call call = phonePrefixValidateBeforeCall(firstName, lastName, phoneNumber, null, null);
        Type localVarReturnType = new TypeToken<FirstLastNamePhoneCodedOut>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * [USES 11 UNITS] Infer the likely country and phone prefix, given a personal name and formatted / unformatted phone number. (asynchronously)
     * 
     * @param firstName  (required)
     * @param lastName  (required)
     * @param phoneNumber  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call phonePrefixAsync(String firstName, String lastName, String phoneNumber, final ApiCallback<FirstLastNamePhoneCodedOut> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = phonePrefixValidateBeforeCall(firstName, lastName, phoneNumber, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<FirstLastNamePhoneCodedOut>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for phonePrefixBatch
     * @param batchFirstLastNamePhoneNumberIn A list of personal names (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call phonePrefixBatchCall(BatchFirstLastNamePhoneNumberIn batchFirstLastNamePhoneNumberIn, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = batchFirstLastNamePhoneNumberIn;

        // create path and map variables
        String localVarPath = "/api2/json/phoneCodeBatch";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if (progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call phonePrefixBatchValidateBeforeCall(BatchFirstLastNamePhoneNumberIn batchFirstLastNamePhoneNumberIn, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = phonePrefixBatchCall(batchFirstLastNamePhoneNumberIn, progressListener, progressRequestListener);
        return call;

    }

    /**
     * [USES 11 UNITS] Infer the likely country and phone prefix, of up to 1000 personal names, detecting automatically the local context given a name and formatted / unformatted phone number.
     * 
     * @param batchFirstLastNamePhoneNumberIn A list of personal names (optional)
     * @return BatchFirstLastNamePhoneCodedOut
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public BatchFirstLastNamePhoneCodedOut phonePrefixBatch(BatchFirstLastNamePhoneNumberIn batchFirstLastNamePhoneNumberIn) throws ApiException {
        ApiResponse<BatchFirstLastNamePhoneCodedOut> resp = phonePrefixBatchWithHttpInfo(batchFirstLastNamePhoneNumberIn);
        return resp.getData();
    }

    /**
     * [USES 11 UNITS] Infer the likely country and phone prefix, of up to 1000 personal names, detecting automatically the local context given a name and formatted / unformatted phone number.
     * 
     * @param batchFirstLastNamePhoneNumberIn A list of personal names (optional)
     * @return ApiResponse&lt;BatchFirstLastNamePhoneCodedOut&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<BatchFirstLastNamePhoneCodedOut> phonePrefixBatchWithHttpInfo(BatchFirstLastNamePhoneNumberIn batchFirstLastNamePhoneNumberIn) throws ApiException {
        com.squareup.okhttp.Call call = phonePrefixBatchValidateBeforeCall(batchFirstLastNamePhoneNumberIn, null, null);
        Type localVarReturnType = new TypeToken<BatchFirstLastNamePhoneCodedOut>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * [USES 11 UNITS] Infer the likely country and phone prefix, of up to 1000 personal names, detecting automatically the local context given a name and formatted / unformatted phone number. (asynchronously)
     * 
     * @param batchFirstLastNamePhoneNumberIn A list of personal names (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call phonePrefixBatchAsync(BatchFirstLastNamePhoneNumberIn batchFirstLastNamePhoneNumberIn, final ApiCallback<BatchFirstLastNamePhoneCodedOut> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = phonePrefixBatchValidateBeforeCall(batchFirstLastNamePhoneNumberIn, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<BatchFirstLastNamePhoneCodedOut>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
